<!doctype html>
<html lang="fr">
<head>Simple MVC
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simple MVC</title>

    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="icon" href="../assets/images/favicon.png">
</head>
<body>
<section>
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li> {{ category.titles }}</li>
            <li><?= $category['title'] ?></li>
        <?php endforeach ?>
    </ul>
</section>
</body>
</html>




